<div class="tab-container">
    <h3>Your all Expenses at one place...</h3>
    <br>
    <mat-tab-group class="tab-group" (selectedIndexChange)="toggleIncome($event)" >
        @for( x of expenseCategoryTypes; track x.expenseCategory?.id)
        {
        <mat-tab class="tab" label="{{x.expenseCategory?.name}}">
            @if(filteredExpenses.length > 0)
            {
            <div  class="outer-container">
                <br>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>
    
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                        <td mat-cell *matCellDef="let expense"> {{ expense.expenseType?.name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="paidOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid On </th>
                        <td mat-cell *matCellDef="let expense"> {{ expense.paidOn | date:'dd-MMM-yy': 'Asia/Kolkata' }} </td>
                      </ng-container>

                      <ng-container matColumnDef="value" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="value"> Amount </th>
                        <td mat-cell *matCellDef="let expense"> {{ expense.value | currency:'INR':'symbol':'1.2-2':'en-IN' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="paid">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let expense">{{ expense.paid ? 'Paid' : 'Pending' }} </td>
                      </ng-container>
                      
                    <ng-container matColumnDef="paidTo">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Paid To </th>
                        <td mat-cell *matCellDef="let expense">{{ expense.paidTo }} </td>
                    </ng-container>

                    <ng-container matColumnDef="paidVia" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid Via </th>
                        <td mat-cell *matCellDef="let expense"> {{ expense.paidVia.paymentMethod.name }} </td>
                    </ng-container>
                      <!-- Frequency-->
                    <ng-container matColumnDef="frequency" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Frequency </th>
                        <td mat-cell *matCellDef="let expense"> {{ expense.frequency?.name }} </td>
                    </ng-container>
    
                    <!-- Created Date-->
                    <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Added On</th>
                        <td mat-cell *matCellDef="let expense"> {{ expense.createdDate | date:"dd-MMM-yy hh:mm a": 'Asia/Kolkata' }} </td>
                    </ng-container>
    
                     <!-- Modified Date-->
                     <ng-container matColumnDef="modifiedDate">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header="modifiedDate"> Modified On</th>
                        <td mat-cell *matCellDef="let expense"> {{ expense.modifiedDate| date:"dd-MMM-yy hh:mm a":'Asia/Kolkata' }} </td>
                    </ng-container>
    
                     <!-- Table Headers & Rows -->
                    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                    <tr mat-row *matRowDef="let expense; let i=index; columns: tableColumns" 
                    (contextmenu)="onRightClick($event, expense)"></tr>
                </table>
            </div>
            }
            @else {
            <br>
            <div class="outer-container"><h2>You don't have any income in this category !</h2></div>
            }
        </mat-tab>
        }
    </mat-tab-group>
    <div style="visibility: hidden; position: fixed"
        [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y"
        [matMenuTriggerFor]="contextMenu">
    </div>
    
            <mat-menu #contextMenu="matMenu">
                <ng-template matMenuContent let-expense="expense">
                <button mat-menu-item (click)="OnView(editRow)">View Expense</button>
                <button mat-menu-item (click)="OnEdit(editRow)">Edit</button>
                <button mat-menu-item (click)="OnDelete(editRow)">Delete</button>
            </ng-template>
            </mat-menu>
    </div>
    
    