.my-custom-dialog .mat-dialog-container {
    background-color: #f0f0f0;
    display: flex;
    gap: 10px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    color: #333;
    overflow-y: hidden;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .credit-card
  {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .field {
    font-size: 56px;
  }

  .end
  {
    margin-bottom: 30px;
  }