
    .main-container
    {
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gray;
    }

    .confirm-container
    {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gray;
    }

    .animated-card-confirm 
    {
      animation: fadeIn 0.5s ease-out;
      width: auto;
      border: 5px black;
      margin-top: 350px;
      margin-bottom: 50px;
    }

    .animated-card 
    {
        animation: fadeIn 0.5s ease-out;
        width: 40%;
        border: 5px black;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      @keyframes fadeIn {
        from { opacity: 0; transform: translateY(-20px); }
        to { opacity: 1; transform: translateY(0); }
      }

      .header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #1a73e8;
        height: auto;
    }

    .form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }

    .w-full
    {
        width: 75%;
    }

    .actions
    {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .done-actions
    {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .actions-confirm
    {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .fullscreen-spinner-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .done
    {
      width: 30%;
      height: 30%;
    }

    .done-card
    {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

    .green-tick
    {
      color: #4caf50;
    }

    .text
    {
      text-align: center;
    }
