.forgot-password-container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-password-card
{
    width: 30%;
    height: auto;
}

.forgot-password-form
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.full-width
{
    width: 100%;
}

.header
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.green
{
    color: #4caf50;
}

.message
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}