<div class="forgot-password-container">
    <mat-card class="forgot-password-card">
      <mat-card-header class="header">
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        @if(step === "start"){
        <form class="forgot-password-form" [formGroup]="usernameForm" (ngSubmit)="onResetPassword()">
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" required>
            @if(usernameForm.get('username')?.hasError('required'))
            {
              <mat-error>
                Username is required.
              </mat-error>
            }
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="usernameForm.invalid || isLoading">
            @if(!isLoading){<span >Send Code</span>}
            @if(isLoading){<mat-spinner  [diameter]="24"></mat-spinner>}
          </button>
        </form>
      }
      @if(step === 'confirm')
      {
        <form 
          [formGroup]="passwordForm"
          (ngSubmit)="onConfirmPasswordReset()">
  
          <p class="instruction">A confirmation code has been sent to your email.</p>
          <div class="forgot-password-form">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmation Code</mat-label>
            <input matInput type="text" formControlName="confirmationCode" required>
            @if(passwordForm.get('confirmationCode')?.hasError('required') )
            {
            <mat-error>
              Code is required.
            </mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password" 
            matTooltip="Password must have 8 characters and combination of uppercase & lowercase letters, numbers & special character."
                matTooltipPosition="right"
                matTooltipShowDelay="100"
                matTooltipHideDelay="0"
                #tooltip="matTooltip"
                (focus)="tooltip.show()"
                (blur)="tooltip.hide()"
                (mouseenter)="tooltip.show()"
                (mouseleave)="tooltip.hide()"
                required>
                @if(passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched)
            {
              <mat-error>
                New password is required.
              </mat-error>
            }
            @else if (passwordForm.get('password')?.hasError('invalidPassword') && passwordForm.get('password')?.touched) {
                <mat-error>Invalid Password</mat-error>
            }
          </mat-form-field>
            
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
            @if(passwordForm.get('confirmPassword')?.hasError('required'))
            {
              <mat-error>
                Confirmation is required.
              </mat-error>
            }
            @if(passwordForm.get('confirmPassword')?.hasError('passwordMismatch'))
            {
            <mat-error >
              Passwords do not match.
            </mat-error>
            }
          </mat-form-field>
          

        @if (errorMessage()) {
          <div>
            <br>
            <mat-error> {{errorMessage() }}</mat-error> 
            <br>
          </div>
        }
  
          <button mat-raised-button color="primary" type="submit" >
            @if(!isLoading){<span >Reset Password</span>} 
            @if(isLoading){<mat-spinner  [diameter]="24"></mat-spinner>}
          </button>
        </div>
        </form>
      }
        @if(step === 'done' )
        {
          <div class="success-message">
            <div class="items">
              <mat-icon class="green">check_circle</mat-icon>
              <h3>Password reset successful!</h3>
            </div>
            <div class="message">
            <p>You can now log in with your new password.</p>
            <button mat-raised-button routerLink="login">Go to Login</button>
          </div>
          </div>

        }
        
      </mat-card-content>
    </mat-card>
  </div>