.container
{
  padding-top: 15px;
  width: 100%;
  height: 100%;
}

.example-card {
    width: 635px;
    height: 270px;
  }

  .hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .grid-content{
    display: flex;
  }

  .grid-item{
    width: 200px;
    height: 50px;
  }
  

  .investment-card {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  .button-group
  {
    display: flex;
    gap: 8px;
  }

  
  .card-header-underline {
    background-color: #9c9191;
    font-weight: 200;
    justify-content: center;
    border-bottom: 1px solid #ccc;  /* light gray line */
    padding-bottom: 8px;            /* optional for spacing */
    margin-bottom: 8px;           /* space between header and content */
  }
  
  .info-grid {
    padding-left: 40px;
    display: flex;
    column-gap: 20px;
    width: auto;
  }
  .label {
    font-weight: 600;
    color: #555;
    width: 170px;
  }
  .value {
    color: #222;
    width: 170px;
  }