# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: Production

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start Frontend Build
        run: echo "Starting Frontend Build."

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd Frontend
          npm ci

      - name: Inject Secrets
        run: |
          cd Frontend
          sed -i "s|COGNITO_DOMAIN|${{secrets.COGNITO_DOMAIN}}|g" src/environments/environment.ts
          sed -i "s|COGNITO_USER_POOL_ID|${{secrets.COGNITO_USER_POOL_ID}}|g" src/environments/environment.ts
          sed -i "s|COGNITO_CLIENT_ID|${{secrets.COGNITO_CLIENT_ID}}|g" src/environments/environment.ts
          sed -i "s|COGNITO_AUTHORITY|${{secrets.COGNITO_AUTHORITY}}|g" src/environments/environment.ts
          sed -i "s|COGNITO_REDIRECT_URL|${{secrets.COGNITO_REDIRECT_URL}}|g" src/environments/environment.ts
          sed -i "s|COGNITO_LOGOUT_URL|${{secrets.COGNITO_LOGOUT_URL}}|g" src/environments/environment.ts
          sed -i "s|COGNITO_SCOPE|${{secrets.COGNITO_SCOPE}}|g" src/environments/environment.ts
          sed -i "s|COGNITO_RESPONSE_TYPE|${{secrets.COGNITO_RESPONSE_TYPE}}|g" src/environments/environment.ts

      - name: Build FrontEnd
        run: |
          cd Frontend
          npm run build -- --configuration production

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: Frontend/dist/Monetary/browser

      - name: Start Backend Build for Admin
        run: echo "Starting AdminController Build"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1"

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Admin Docker image
        run: |
          IMAGE_URI=${{ secrets.ADMIN_ECR }}:${GITHUB_SHA::7}
          docker build -t $IMAGE_URI ./AdminController
          docker push $IMAGE_URI

  deploy:
    needs: build
    environment: Production
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: Frontend/dist/Monetary/browser

      - name: Sync files to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-east-1"
          SOURCE_DIR: Frontend/dist/Monetary/browser

      - name: Invalidate CloudFront Cache
        uses: chetan/invalidate-cloudfront-action@v2
        env:
          DISTRIBUTION: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
          PATHS: "/*"
          AWS_REGION: "us-east-1"
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID  }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
